@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<link href="~/Admin/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/Admin/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Incoming Messages Page</h4>
                        <p class="card-subtitle mb-4">
                            This is the page that contains the list of messages sent by users through the contact section on the home page.
                            You can click on the relevant line and see the details of the message.
                        </p>
                        <table id="basic-datatable" class="table dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sender Name</th>
                                    <th>Sender Email Address</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Message</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model != null && Model.Count > 0)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        <li class="page-item @(currentPage == i ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- third party js -->
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.flash.min.js"></script>
<script src="~/Admin/plugins/datatables/buttons.print.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Admin/plugins/datatables/dataTables.select.min.js"></script>
<script src="~/Admin/plugins/datatables/pdfmake.min.js"></script>
<script src="~/Admin/plugins/datatables/vfs_fonts.js"></script>
<!-- third party js ends -->
<!-- Datatables init -->
<script src="~/Admin/assets/pages/datatables-demo.js"></script>
