@model List<GetReservationByUserIdDto>
@{
    ViewData["Title"] = "Rentals";
    Layout = "~/Views/UILayout/Index.cshtml";
    int count = 0;
}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card shadow-sm border-0" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="card-header bg-primary text-white">
                        <h4 class="card-title mb-0" style="color: black;">My Reservations</h4>
                        <p class="card-subtitle mt-1">You can see your reservations.</p>
                    </div>
                    <div class="card-body" style="color: black;">
                        @if (Model != null && Model.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align: middle;">#</th>
                                            <th style="vertical-align: middle;">Name</th>
                                            <th style="vertical-align: middle;">Surname</th>
                                            <th style="vertical-align: middle;">Email</th>
                                            <th style="vertical-align: middle;">Phone</th>
                                            <th style="vertical-align: middle;">Brand</th>
                                            <th style="vertical-align: middle;">Car Model</th>
                                            <th style="vertical-align: middle;">Pick Up Location</th>
                                            <th style="vertical-align: middle;">Drop Off Location</th>
                                            <th style="vertical-align: middle;">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row" style="vertical-align: middle;">@count</th>
                                                <td style="vertical-align: middle;">@item.Name</td>
                                                <td style="vertical-align: middle;">@item.Surname</td>
                                                <td style="vertical-align: middle;">@item.Email</td>
                                                <td style="vertical-align: middle;">@item.Phone</td>
                                                <td style="vertical-align: middle;">@item.BrandName</td>
                                                <td style="vertical-align: middle;">@item.CarModel</td>
                                                <td style="vertical-align: middle;">@item.PickUpLocationName</td>
                                                <td style="vertical-align: middle;">@item.DropOffLocationName</td>
                                                <td style="vertical-align: middle;">@item.Description</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <script>
                                $(document).ready(function () {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "No Reservation found!",
                                    });
                                });
                            </script>
                        }

                        <br />
                        <a href="/Car/Index/" class="btn btn-outline-dark">Create New Reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
