@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@* Blog resimlerini daha küçük getirebiliriz. *@

@functions {
    public static string Truncate(string text, int maxLength)
    {
        if (string.IsNullOrEmpty(text) || text.Length <= maxLength)
        {
            return text;
        }
        return text.Substring(0, maxLength) + "...";
    }
}

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-12 text-center d-flex ftco-animate">
                    <div class="blog-entry justify-content-end mb-md-5">
                        <a href="blog-single.html" class="block-20 img" style="background-image: url(@item.CoverImageUrl);">
                        </a>
                        <div class="text px-md-5 pt-4">
                            <div class="meta mb-3">
                                <div><a href="#">@item.CreatedDate.ToShortDateString()</a></div>
                                <div><a href="#">@item.AuthorName</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="#">@item.Title</a></h3>
                            <p>@Truncate(item.Description, 350)</p>  @* Limited txt *@
                            <p><a href="/Blog/BlogDetail/@item.BlogID" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination Controls -->
        <div class="row d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
                        <a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="?page=@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>