@model List<ResultTestimonialDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int itemsPerPage = 5; // Her sayfada gösterilecek marka sayısı
    int totalPages = ViewBag.TotalPages ?? 1;
    int count = (currentPage - 1) * itemsPerPage; // Sayfa başına gösterilecek araç sayısı
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Homepage Testimonials List</h4>
                        <p class="card-subtitle mb-4">
                            Below is our page where we can add and edit the expressions our customers have said about us as comments.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Comment</th>
                                        <th>Remove</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        ++count;
                                        <tr>
                                            <td>@count</td>
                                            <td><img src="@item.ImageUrl" width="50" height="50" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Title</td>
                                            <td>@item.Comment</td>
                                            <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Remove</a></td>
                                            <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminTestimonial/CreateTestimonial" class="btn btn-outline-primary">New Testimonial Entry</a>
                            <br />
                        </div>
                        @if (Model != null && Model.Count > 0)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        <li class="page-item @(currentPage == i ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>