@model List<ResultAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Author List</h4>
                        <p class="card-subtitle mb-4">
                            This is the page where transactions regarding authors will be carried out. When entering an author, let's be careful to enter complete information.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name Surname</th>
                                        <th>Remove</th>
                                        <th>Update</th>
                                        <th>Blogs of Author</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td><img src="@item.ImageUrl" width="50" height="50" style="margin-right:10px" /> @item.Name</td>
                                            <td><a href="/Admin/AdminAuthor/RemoveAuthor/@item.AuthorID" class="btn btn-outline-danger">Remove</a></td>
                                            <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorID" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/Admin/AdminAuthor/GetBlogListByAuthorId/@item.AuthorID" class="btn btn-outline-dark">Authors Blogs</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminAuthor/CreateAuthor" class="btn btn-outline-primary">Create New Author</a>
                        </div>
                        @if (Model != null && Model.Count > 0)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    @for (int i = 1; i <= totalPages; i++)
                                    {
                                        <li class="page-item @(currentPage == i ? "active" : "")">
                                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

