@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<br />
<h1>Filter Detail</h1>

 @ViewBag.bookpickdate = bookpickdate;
 @ViewBag.bookoffdate = bookoffdate;
 @ViewBag.timepick = timepick;
 @ViewBag.timeoff = timeoff;
 @ViewBag.locationID = locationID;

<br />
<br />
<br />

